body {
	background-color: lightblue;
}

.calc {
	margin: 0 auto;
	width: 420px;
	display: flex;
	flex-direction: column;
}

.buttons {
	display: flex;
	flex-flow: column wrap;
	height: 400px;
}

.buttons > * {
	height: 70px;
}

.top-row {
	height: 50px;
}

.add {
	flex: 1;
}

#display {
	height: 140px;
	background-color: lightgreen;
	display: flex;
	align-items: flex-end;
	flex-flow: column-reverse;
}
