@font-face {
   font-family: "digitalseven";
   src: url(./fonts/d7monoitalic.ttf);
	 /* Style-7 http://www.styleseven.com */
}

body {
	background-color: lightblue;
}

.calc {
	margin: 0 auto;
	width: 420px;
	display: flex;
	flex-direction: column;
}

.buttons {
	display: flex;
	flex-flow: column wrap;
	height: 400px;
}

.buttons > * {
	height: 70px;
}

.top-row {
	height: 50px;
}

.add {
	flex: 1;
}

#display {
	font-family: "digitalseven", "Courier New", serif;
	font-size: 100px;
	height: 140px;
	background-color: lightgreen;
	display: flex;
	align-items: flex-end;
	flex-flow: column-reverse;
}
